<p>This is the Chockit Money Tracker.  Use it to track your expenses by amount, category or individually.</p>
<p>The goal of this tracker is to be as simple and straightforward as possible, while providing functionality and power.</p>
<p>Most money trackers are complicated beasts that do more than you need, want, or is useful.  Ignore them.  Their designers mean well, but if money is time, they are not worth either.</p>
