<h2> All Transactions </h2>

<div id="transaction-wrapper">
  <% @transactions.each do |transaction| %>
  <hr>
    <div class="transaction">
      <h4><a href="/transactions/<%= transaction.id %>"><%= transaction.merchant %></a></h4>
      <h5><p>Amount: £<%= transaction.amount %> </p></h5>
      </form>
      <% end %>

      <form method="post" action="/transactions/delete_all">
        <input type="submit" value="Delete ALL Transactions"/>

</div>
