<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chockit Money Tracker</title>
    <link rel="stylesheet" href="/style.css">
  </head>
      <header>
        <h1><a href='/transactions'>Chockit Money Tracker</a></li></h1>
        <nav id="menu">
        <li class="menu-item"> <a href='/transactions/all'>All Transactions</a></li>
        <li class="menu-item"> <a href='/transactions/new'>New Transaction</a></li>
        <hr>
        <li class="menu-item">Remaining Balance:</li>
        <li class="menu-item">Total Spent:</li>
        <hr>
        </nav>
      </header>
      <body>
    <%= yield %>
  </body>
    <footer>
      <hr>
      <nav id="menu">
        <!-- <li class="menu-item"> <a href="/transactions/new_spending_category">Create new spending category</a></li>
        <li class="menu-item">Other Functions</li> -->
      </nav>
  </footer>

</html>
