<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chockit Money Tracker</title>
    <link rel="stylesheet" href="/style.css">
  </head>
      <header>
        <div id="logo-wrapper"> <a href='/transactions'>
          <img src="/chockitlogo.jpg" alt="Chockit Money Minder">
        </div>
        <hr>
        </a></li>
        <nav id="menu">
        <li class="menu-item"> <a href='/transactions/sum'>Your Remaining Balance: £<%=Transaction.sum %> </a></li>
        <hr>
        <li class="menu-item"> <a href='/transactions/new'>New Transaction</a></li>
        <li class="menu-item"> <a href='/transactions/all'>View Transactions</a></li>
        <li class="menu-item"> <a href='/transactions/category_select'>Total spent by category</a></li>
        <hr>
        </nav>
      </header>
      <body>
    <%= yield %>
  </body>
    <footer>
      <hr>
      <p>“Formal education will make you a living; self-education will make you a fortune.”  Jim Rohn</p>
  </footer>

</html>
