<h2>New Spending Category</h2>
<form method="POST" action="/create_tag">
  <div class="form-wrapper">
    <div class="form-trans">
      <label for="name">Category Name:</label>
      <input type="text" name="name" id="name"/>
    </div>
    <div class="form-trans">
      <input type="submit" value="Add Category"/>
    </div>
  </div>
</form>
