<h2>New Tag</h2>
<form method="POST" action="/tags">
  <div class="form-wrapper">

    <div class="form-trans">
      <label for="amount">Tag name:</label>
      <input type="text" name="name" id="name"/>
    </div>

  </div>

</form>
