<p>Transaction Amount: £<%= @transaction.amount %></p>
<p>Where: <%= @transaction.merchant %></p>
<p><a href="/transactions/<%= @transaction.id %>/edit">Edit Transaction</a></p>
<form method="post" action="/transactions/<%= @transaction.id %>/delete">
  <input type="submit" value="Delete Transaction"/>
</form>
