<h2> Select a Category </h2>

<form method="POST" action="/categories/show">
  <div class="form-wrapper">

    <div class="form-trans">
      <label for="tag">Spending Category:</label>
      <select name="tag_id" id="tag_select">
        <% @tags.each do |tag| %>
        <option value=<%= tag.id %>><%= tag.name.capitalize %></option>
        <% end %>
      </select>
    </div>

    <div class="form-trans">
      <input type="submit" value="Confirm"/>
    </div>

  </div>

</form>
 <h4>*Leave the minus sign in if this is a debit.  Delete if this is a deposit.</h4>
